In [2]:
import pandas as pd
import numpy as np
import sklearn.metrics
from sklearn.neighbors import NearestNeighbors

In [3]:
#get data

df = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')

In [4]:
df.info() #understanding the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [5]:
df.columns #check what columns we have

Index(['Movie ID', 'Movie Name', 'IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History', 'Label'],
      dtype='object')

In [6]:
df.isnull().sum() #check for null values

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [7]:
#getting data ready for the model

#the target column
y = df['Movie Name'] 

#the columns used to predict the target column(features)
X = df.drop(['Movie Name', 'Movie ID', 'Label'], axis=1)

In [8]:

#to see the 5 nearest movies 
neigh = NearestNeighbors(n_neighbors = 5, algorithm = 'brute', metric = 'minkowski', p=2)
neigh.fit(X, y) #model fitting
data_input = {'IMDB Rating': '7.2', 'Biography' : '1', 'Drama' : '1', 'Thriller' : '0', 'Comedy' : '0', 'Crime' : '0', 'Mystery' : '0', 'History' : '1'} #the movie we are using to try find others similar to it
data_input_df= pd.DataFrame([data_input])

In [9]:
#prediction time
final_pred = (neigh.kneighbors(data_input_df, return_distance = False)) #make prediction using new dataframe
final_pred #return nearest neighbors

array([[28, 27, 29, 16,  9]])

In [10]:
#create loop to see movies closest to the movie inputted
for movie in final_pred:
   print(f"Movies related to yours:\n\n{y[movie]}")

Movies related to yours:

28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
9       The Karate Kid
Name: Movie Name, dtype: object